<md-card flex="45" ng-style="{'background-color' : vm.todo.color}">
  <md-card-title>
    <md-card-title-text>
      <div layout="row">
        <md-input-container flex='50'>
          <label>Título</label>
          <input ng-model="vm.todo.titulo">
        </md-input-container>
        <md-input-container >
          <label>Color</label>
          <md-select ng-model="vm.todo.color">
            <md-option ng-repeat="color in vm.colors" value="{{color.valor}}">
              {{color.nombre}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-input-container>
        <label>Descripción</label>
        <textarea ng-model="vm.todo.descripcion" md-maxlength="200" rows="5" cols="20" md-select-on-focus></textarea>
      </md-input-container>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="vm.save()">Guardar</md-button>
  </md-card-actions>
</md-card>
